@using PagedList;
@using PagedList.Mvc;
@model IEnumerable<bookstore.Models.Books>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="row pt-3">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body data-list">
                <div class="mb-2">
                    @using (Html.BeginForm("Search", "Books", FormMethod.Post))
                    {
                        <table>
                            <tr>
                                <td>
                                    <span class="control-label">查詢：</span>
                                </td>
                                <td class="pr-2">
                                    <input id="search_text" name="search_text" type="text" class="form-control data-list-search-text" style="width:200px;" placeholder="請輸入要查詢的內容!!" />
                                </td>
                                <td>
                                    <input type="submit" value="查詢" class="btn btn-primary" />
                                </td>
                            </tr>
                        </table>
                    }
                </div>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("新增", "Create", "Books", new { Area = "" }, new { @class = "btn btn-primary" })
        </th>
        <th>
            <a href="@Url.Action("ColumnSort" , new { id = "book_no"})">
                @Html.DisplayNameFor(model => model.book_no)
            </a>
            @SessionService.GetColumnSortIcon(0, "book_no")
        </th>
        <th>
            <a href="@Url.Action("ColumnSort" , new { id = "book_name"})">
                @Html.DisplayNameFor(model => model.book_name)
            </a>
            @SessionService.GetColumnSortIcon(0, "book_name")
        </th>
        <th>
            <a href="@Url.Action("ColumnSort" , new { id = "publish_date"})">
                @Html.DisplayNameFor(model => model.publish_date)
            </a>
            @SessionService.GetColumnSortIcon(0, "publish_date")
        </th>
        <th>
            <a href="@Url.Action("ColumnSort" , new { id = "publisher_no"})">
                @Html.DisplayNameFor(model => model.publisher_no)
            </a>
            @SessionService.GetColumnSortIcon(0, "publisher_no")
        </th>
        <th>
            <a href="@Url.Action("ColumnSort" , new { id = "publisher_no"})">
                @Html.DisplayNameFor(model => model.publisher_name)
            </a>
            @SessionService.GetColumnSortIcon(0, "publisher_no")
        </th>
        <th>
            <a href="@Url.Action("ColumnSort" , new { id = "language_no"})">
                @Html.DisplayNameFor(model => model.language_no)
            </a>
            @SessionService.GetColumnSortIcon(0, "language_no")
        </th>
        <th>
            <a href="@Url.Action("ColumnSort" , new { id = "language_no"})">
                @Html.DisplayNameFor(model => model.language_name)
            </a>
            @SessionService.GetColumnSortIcon(0, "language_no")
        </th>
        <th>
            <a href="@Url.Action("ColumnSort" , new { id = "category_no"})">
                @Html.DisplayNameFor(model => model.category_no)
            </a>
            @SessionService.GetColumnSortIcon(0, "category_no")
        </th>
        <th>
            <a href="@Url.Action("ColumnSort" , new { id = "category_no"})">
                @Html.DisplayNameFor(model => model.category_name)
            </a>
            @SessionService.GetColumnSortIcon(0, "category_no")
        </th>
        <th>
            <a href="@Url.Action("ColumnSort" , new { id = "sale_price"})">
                @Html.DisplayNameFor(model => model.sale_price)
            </a>
            @SessionService.GetColumnSortIcon(0, "sale_price")
        </th>
        <th>
            <a href="@Url.Action("ColumnSort" , new { id = "detail_text"})">
                @Html.DisplayNameFor(model => model.detail_text)
            </a>
            @SessionService.GetColumnSortIcon(0, "detail_text")
        </th>
        <th>
            <a href="@Url.Action("ColumnSort" , new { id = "qty_in"})">
                @Html.DisplayNameFor(model => model.qty_in)
            </a>
            @SessionService.GetColumnSortIcon(0, "qty_in")
        </th>
        <th>
            <a href="@Url.Action("ColumnSort" , new { id = "qty_out"})">
                @Html.DisplayNameFor(model => model.qty_out)
            </a>
            @SessionService.GetColumnSortIcon(0, "qty_out")
        </th>
        <th>
            <a href="@Url.Action("ColumnSort" , new { id = "qty_now"})">
                @Html.DisplayNameFor(model => model.qty_now)
            </a>
            @SessionService.GetColumnSortIcon(0, "qty_now")
        </th>
        <th>
            <a href="@Url.Action("ColumnSort" , new { id = "remark"})">
                @Html.DisplayNameFor(model => model.remark)
            </a>
            @SessionService.GetColumnSortIcon(0, "remark")
        </th>
        <th>
            <a href="@Url.Action("ColumnSort" , new { id = "yt_url"})">
                @Html.DisplayNameFor(model => model.yt_url)
            </a>
            @SessionService.GetColumnSortIcon(0, "yt_url")
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="data-list-max">
            @Html.ActionLink("修改", "Edit", "Books", new { id = item.rowid }, new { @class = "btn btn-primary" })
            @Html.ActionLink("刪除", "Delete", "Books", new { id = item.rowid }, new { @class = "btn btn-danger", onclick = "return confirm('是否確定要刪除?');" })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.book_no)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.book_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.publish_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.publisher_no)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.publisher_name)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.language_no)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.language_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.category_no)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.category_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sale_price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.detail_text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.qty_in)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.qty_out)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.qty_now)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.remark)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.yt_url)
        </td>
    </tr>
}

</table>
</div>
            <div class="card-footer">
                <table>
                    <tr>
                        <td class="pr-2">
                            <span class="control-label">
                                @SessionService.GetPageInfo(0)
                            </span>
                        </td>
                        <td>@Html.PagedListPager((IPagedList)Model, x => Url.Action("Index", new { page = x }))</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
