<!DOCTYPE html>
<html lang="en">
<head>
    <title>@SessionService.GetHomePageInfo("ShopName") - 購物商城</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700" />
    <link rel="stylesheet" href="@Url.Content("~/shoppers/fonts/icomoon/style.css")" />
    <link rel="stylesheet" href="@Url.Content("~/shoppers/css/bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap-chosen.css")" />
    <link rel="stylesheet" href="@Url.Content("~/shoppers/css/magnific-popup.css")" />
    <link rel="stylesheet" href="@Url.Content("~/shoppers/css/jquery-ui.css")" />
    <link rel="stylesheet" href="@Url.Content("~/shoppers/css/owl.carousel.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/shoppers/css/owl.theme.default.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/shoppers/css/style.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Site.css")" />
    <script src="@Url.Content("~/shoppers/js/jquery-3.3.1.min.js")"></script>
    <script src="@Url.Content("~/shoppers/js/jquery-ui.js")"></script>
    <script src="@Url.Content("~/shoppers/js/popper.min.js")"></script>
    <script src="@Url.Content("~/shoppers/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/chosen.jquery.min.js")"></script>
    <script src="@Url.Content("~/shoppers/js/owl.carousel.min.js")"></script>
    <script src="@Url.Content("~/shoppers/js/jquery.magnific-popup.min.js")"></script>
    <script src="@Url.Content("~/shoppers/js/main.js")"></script>
    @RenderSection("styles", required: false)
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="site-wrap">
        <header class="site-navbar" role="banner">
            <div class="site-navbar-top">
                <div class="container">
                    <div class="row align-items-center">

                        <div class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left">
                            @using (Html.BeginForm("Search", "Shop", FormMethod.Post, new { @class = "site-block-top-search" }))
                             {
                                <span class="icon icon-search2"></span>
                                <input type="text" name="SearchText" id="SearchText" class="form-control border-0" placeholder="搜尋商品">
                             }
                        </div>

                        <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center">
                            <div class="site-logo">                              
                                <a href="@Url.Action("Index" , "Home")"><img src="@Url.Content(ShopService.GetLogoImgUrl())" id="img-logo"></a>
                                <a href="@Url.Action("Index" , "Home")" class="js-logo-clone">@SessionService.GetHomePageInfo("ShopName")</a>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 order-3 order-md-3 text-right">
                            <div class="site-top-icons">
                                <ul>
                                    <li>
                                        <span class="icon icon-person"></span>
                                        @{ if (SessionService.IsLogined)
                                           {
                                                <span>@SessionService.AccountName</span>
                                                <a href="@Url.Action("Login" , "Account")">(登出)</a> }
                                           else
                                           {
                                                <a href="@Url.Action("Login" , "Account")">登入</a> }
                                          }
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Cart" , "Shop")" class="site-cart">
                                            <span class="icon icon-shopping_cart"></span>
                                            <span class="count">@CarPage.Counts</span>
                                        </a>
                                    </li>
                                    <li class="d-inline-block d-md-none ml-md-0"><a href="#" class="site-menu-toggle js-menu-toggle"><span class="icon-menu"></span></a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <nav class="site-navigation text-right text-md-center" role="navigation">
                <div class="container">
                    <ul class="site-menu js-clone-nav d-none d-md-block">
                        <li><a href="@Url.Action("Index" , "Home")"class = "boxShadow">首頁</a></li>
                        <li><a href="@Url.Action("About" , "Home")" class="boxShadow">@ShopService.About</a></li>
                        <li><a href="@Url.Action("Index" , "Shop")"class = "boxShadow">購物商城</a></li>
                    </ul>
                </div>
            </nav>
        </header>

        <div class="bg-light py-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mb-0">
                        <a href="@Url.Action("Index" , "Home")">首頁</a>
                        <span class="mx-2 mb-0">/</span>
                        <strong class="text-black">購物商城</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="site-section">
            <div class="container">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>