<!DOCTYPE html>
<html lang="en">
<head>
    <title>@SessionService.AppName</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
    <link rel="stylesheet" href="@Url.Content("~/shoppers/fonts/icomoon/style.css")">
    <link rel="stylesheet" href="@Url.Content("~/shoppers/css/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/shoppers/css/magnific-popup.css")">
    <link rel="stylesheet" href="@Url.Content("~/shoppers/css/jquery-ui.css")">
    <link rel="stylesheet" href="@Url.Content("~/shoppers/css/owl.carousel.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/shoppers/css/owl.theme.default.min.css")">
    @*<link rel="stylesheet" href="@Url.Content("~/shoppers/css/aos.css")">*@
    <link rel="stylesheet" href="@Url.Content("~/shoppers/css/style.css")">
    <script src="@Url.Content("~/shoppers/js/jquery-3.3.1.min.js")"></script>
    <script src="@Url.Content("~/shoppers/js/jquery-ui.js")"></script>
    <script src="@Url.Content("~/shoppers/js/popper.min.js")"></script>
    <script src="@Url.Content("~/shoppers/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/shoppers/js/owl.carousel.min.js")"></script>
    <script src="@Url.Content("~/shoppers/js/jquery.magnific-popup.min.js")"></script>
    @*<script src="@Url.Content("~/shoppers/js/aos.js")"></script>*@
    <script src="@Url.Content("~/shoppers/js/main.js")"></script>
</head>
<body>

    <div class="site-wrap">
        <header class="site-navbar" role="banner">
            <div class="site-navbar-top">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left">
                            <form action="" class="site-block-top-search">
                                <span class="icon icon-search2"></span>
                                <input type="text" class="form-control border-0" placeholder="Search">
                            </form>
                        </div>
                        <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center">
                            <div class="site-logo">
                                <a href="@Url.Action("Index" , "Home")" class="js-logo-clone">@SessionService.GetHomePageInfo("ShopName")</a>
                            </div>
                        </div>

                        <div class="col-6 col-md-4 order-3 order-md-3 text-right">
                            <div class="site-top-icons">
                                <ul>
                                    <li>
                                        <span class="icon icon-person"></span>
                                        @{ if (SessionService.IsLogined)
                                            {
                                                <span>@SessionService.AccountName</span><a href="@Url.Action("Login" , "Account")">(登出)</a>
                                            }
                                            else
                                            {
                                                <a href="@Url.Action("Login" , "Account")">登入</a>
                                            }
                                        }
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Cart" , "Shop")" class="site-cart">
                                            <span class="icon icon-shopping_cart"></span>
                                            <span class="count">@CarPage.Counts</span>
                                        </a>
                                    </li>
                                    <li class="d-inline-block d-md-none ml-md-0"><a href="#" class="site-menu-toggle js-menu-toggle"><span class="icon-menu"></span></a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <nav class="site-navigation text-right text-md-center" role="navigation">
                <div class="container">
                    <ul class="site-menu js-clone-nav d-none d-md-block">
                        <li class="has-children active">
                            <a href="@Url.Action("Index" , "Home")">首頁</a>
                            <ul class="dropdown">
                                <li><a href="#">Menu One</a></li>
                                <li><a href="#">Menu Two</a></li>
                                <li><a href="#">Menu Three</a></li>
                                <li class="has-children">
                                    <a href="#">Sub Menu</a>
                                    <ul class="dropdown">
                                        <li><a href="#">Menu One</a></li>
                                        <li><a href="#">Menu Two</a></li>
                                        <li><a href="#">Menu Three</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="@Url.Action("About" , "Home")">關於我們</a>
                            <ul class="dropdown">
                                <li><a href="#">Menu One</a></li>
                                <li><a href="#">Menu Two</a></li>
                                <li><a href="#">Menu Three</a></li>
                            </ul>
                        </li>
                        <li><a href="@Url.Action("Index" , "Shop")">購物商城</a></li>
                        <li><a href="@Url.Action("Category" , "Shop")">商品分類</a></li>
                        <li><a href="@Url.Action("NewArrivals" , "Shop")">新貨</a></li>
                    </ul>
                </div>
            </nav>
        </header>

        <div class="container-fluid">
            @RenderBody()
        </div>

        <footer class="site-footer border-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mb-5 mb-lg-0">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="footer-heading mb-4">Navigations</h3>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <ul class="list-unstyled">
                                    <li><a href="#">Sell online</a></li>
                                    <li><a href="#">Features</a></li>
                                    <li><a href="#">Shopping cart</a></li>
                                    <li><a href="#">Store builder</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <ul class="list-unstyled">
                                    <li><a href="#">Mobile commerce</a></li>
                                    <li><a href="#">Dropshipping</a></li>
                                    <li><a href="#">Website development</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <ul class="list-unstyled">
                                    <li><a href="#">Point of sale</a></li>
                                    <li><a href="#">Hardware</a></li>
                                    <li><a href="#">Software</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
                        <h3 class="footer-heading mb-4">Promo</h3>
                        <a href="#" class="block-6">
                            <img src="@Url.Content("~/shoppers/images/hero_1.jpg")" alt="Image placeholder" class="img-fluid rounded mb-4">
                            <h3 class="font-weight-light  mb-0">Finding Your Perfect Shoes</h3>
                            <p>Promo from  nuary 15 &mdash; 25, 2019</p>
                        </a>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="block-5 mb-5">
                            <h3 class="footer-heading mb-4">連絡資訊</h3>
                            <ul class="list-unstyled">
                                <li class="address">@SessionService.GetHomePageInfo("ShopAddress")</li>
                                <li class="phone">@SessionService.GetHomePageInfo("ShopTel")</li>
                                <li class="email">@SessionService.GetHomePageInfo("ShopEmail")</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row pt-5 mt-5 text-center">
                    <div class="col-md-12">
                        <p>
                            Copyright &copy; @DateTime.Today.Year 版權所有 - @SessionService.GetHomePageInfo("ShopName")
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>