@model bookstore.Models.Books

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutShop.cshtml";
}

@using System.Globalization  @*轉換日期用*@



@using (Html.BeginForm("AddToCart", "Shop", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    // HiddenFor 隱藏紀錄值用
    @Html.HiddenFor(m => m.book_no)
    <div class="row">
        <div class="col-md-6">
            <img src="@Url.Content(ShopService.GetProductImageUrl(Model.book_no))" alt="Image" class="img-fluid">
        </div>
        <div class="col-md-6">
            <h5 class="text-black">
                <span>遊戲編號： @Model.book_no</span><br />
                <span>遊戲名稱： @Model.book_name</span><br />
                <span>遊戲公司： @Model.publisher_name </span><br />
                <span>遊戲語言： @Model.language_name </span><br />
                <span>發售日期： @Model.publish_date.ToString("yyyy/MM/dd", CultureInfo.InvariantCulture)</span><br />
                @*.ToString("yyyy/mm/dd"*@

            </h5>
            <h5 class="text-black">
                <span>價格：<strong class="text-primary h4">@Model.sale_price</strong></span>
            </h5>
            <div class="mb-5">
                <div class="input-group mb-3" style="max-width: 120px;">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-primary js-btn-minus" type="button">&minus;</button>
                    </div>
                    <input id="Quantity" name="Quantity" type="text" class="form-control text-center" value="1" placeholder="" aria-label="Price" aria-describedby="button-addon1">
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary js-btn-plus" type="button">&plus;</button>
                    </div>
                </div>
            </div>
            <p>
                @{
                    if (@Model.qty_now > 0)
                    {
                        <h6 class="text-black">庫存量： <span>@Model.qty_now</span></h6>
                        <input type="submit" value="加入購物車" class="buy-now btn btn-sm btn-primary" />
                    }
                    else
                    {
                        <h6 class="text-black"> <span style="color: red;">商品已完售!!</span><br /></h6>
                    }
                }
                <a href="@Url.Action("Index", "Shop")" class="buy-now btn btn-sm btn-success">繼續購物</a>
            </p>
        </div>
    </div>

    <script>
        var minVal = 1;
        var maxVal = @Model.qty_now; /*上限 = 目前庫存*/
        sitePlusMinus(minVal, maxVal);
    </script>
}
<hr />
<div class="row text-center">
    <div class="col-md-12">
        <h3>遊戲介紹</h3>
        <p class="text-left"> @Model.detail_text<p>
            <h3 class="mt-3">介紹影片</h3>
            <iframe width="500" height="350" src="@Model.yt_url" frameborder="0" allowfullscreen class="cust-rd"></iframe>
    </div>
</div>


