@model vmShopIndex

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutShop.cshtml";
}

<div class="row mb-5">
    <div class="col-md-9 order-2">
        <div class="row">
            <div class="col-md-12 mb-5">
                <div class="float-md-left mb-4"><h2 class="text-black h5">@ShopService.CategoryName</h2></div>
                <div class="d-flex">
                    <div class="dropdown mr-1 ml-md-auto">
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" id="dropdownMenuReference" data-toggle="dropdown">@ShopService.SortName</button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
                            <a class="dropdown-item" href="@Url.Action("Sort" , "Shop" , new { id = "Hot"})">熱門商品</a>
                            <a class="dropdown-item" href="@Url.Action("Sort" , "Shop" , new { id = "NameAsc"})">依名稱,由小到大</a>
                            <a class="dropdown-item" href="@Url.Action("Sort" , "Shop" , new { id = "NameDesc"})">依名稱,由大到小</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="@Url.Action("Sort" , "Shop" , new { id = "PriceAsc"})">依價格,由小到大</a>
                            <a class="dropdown-item" href="@Url.Action("Sort" , "Shop" , new { id = "PriceDesc"})">依價格,由大到小</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @Html.Partial("~/Views/Shared/_PartialShopPage.cshtml")
        <div class="row mb-5">
            @foreach (var item in Model.BookList)
            {
                <div class="col-sm-6 col-lg-4 mb-4">
                    <div class="block-4 text-center border"  >
                        <figure class="block-4-image">
                            <a href="@Url.Action("Detail" , "Shop" , new { id = item.book_no})"><img src="@Url.Content(ShopService.GetProductImageUrl(item.book_no))" alt="Image placeholder" class="img-fluid"></a>
                        </figure>
                        <div class="block-4-text p-4">
                            <h3><a href="@Url.Action("Detail" , "Shop" , new { id = item.book_no})">@item.book_name</a></h3>
                            <p class="mb-0">@item.author_name</p>
                            <p class="mb-0">@item.publisher_name</p>
                            <p class="text-primary font-weight-bold">$@item.sale_price</p>
                        </div>
                    </div>
                </div>
            }
        </div>
        @Html.Partial("~/Views/Shared/_PartialShopPage.cshtml")
    </div>

    <div class="col-md-3 order-1 mb-5 mb-md-0">
        <div class="border p-4 rounded mb-4">
            <h3 class="mb-3 h6 text-uppercase text-black d-block">商品分類</h3>
            <ul class="list-unstyled mb-0">
                <li class="mb-1">
                    <a href="@Url.Action("Category" , "Shop" , new { id = ""})" class="d-flex">
                        <span>全部商品</span>
                        <span class="text-black ml-auto">(@ShopService.GetAllBookCount())</span>
                    </a>
                </li>
                @foreach (var item in Model.CategoryList)
                {
                    <li class="mb-1">
                        <a href="@Url.Action("Category" , "Shop" , new { id = item.mno})" class="d-flex">
                            <span>@item.mname</span>
                            <span class="text-black ml-auto">(@item.book_counts)</span>
                        </a>
                    </li>
                }
            </ul>
        </div>

        <div class="border p-4 rounded mb-4">
            <div class="mb-4">
                <h3 class="mb-3 h6 text-uppercase text-black d-block">價格區間</h3>
                @using (Html.BeginForm("Price", "Shop", FormMethod.Post))
                {
                    <div id="slider-range" class="border-primary"></div>
                    <input type="hidden" name="price_low" id="price_low" value="@ShopService.PriceLow" />
                    <input type="hidden" name="price_high" id="price_high" value="@ShopService.PriceHigh" />
                    <input type="text" name="amount" id="amount" class="form-control border-0 pl-0 bg-white" disabled="" />
                    <div>
                        <input type="submit" value="查詢" class="btn btn-success" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="site-section site-blocks-2">
            <div class="row justify-content-center text-center mb-5">
                <div class="col-md-7 site-section-heading pt-4">
                    <h2>商品分類</h2>
                </div>
            </div>
            <div class="row">
                @foreach (var item in Model.CategoryList)
                {
                    <div class="col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0">
                        <a class="block-2-item" href="#">
                            <figure class="image">
                                <img src="@Url.Content("~/Images/Categorys/" + item.mno +".jpg")" alt="" class="img-fluid">
                            </figure>
                            <div class="text">
                                <span class="text-uppercase">收藏</span>
                                <h3>@item.mname</h3>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

